<% if encounters.length > 0 %>
  <div class="list" id="encounter">
    <input type="text" id="encounterSearch" placeholder="Search" style="width: calc(100% - 100px); margin: 20px;"/>
    <p id="encounterSearchResults" style="display: none; margin: 20px; padding-bottom: 20px;">Sorry, there are no search results.</p>
    <div class="list__pagination">
      <div class="list__pages" id="encounterPages">
      </div>
      <label for="encounterPageQuantitySelector">Encounters/Page</label>
      <select id="encounterPageQuantitySelector">
        <option default>25</option>
        <option>50</option>
        <option>75</option>
        <option>100</option>
      </select>
      <div class="list__total-pages"></div>
    </div>
    <% encounters.each do |e| %>
      <a class="list-item" href="<%= encounter_path(e.slug) %>">
        <img src="https://www.bio-techfar.com/images/assets/leaf.png" />
        <div class="list-item__text-group">
          <div class="list-item__text-group__title">
            <%= (e["common"] != nil) ? e.common : e.description %>
          </div>
          <div class="list-item__text-group__sub-title">
            <%= e.date %>
          </div>
        </div>
      </a>
    <% end %>
  </div>

  <script>
    const encounterSearch =  document.getElementById("encounterSearch");
    let pageLimit = 25;
    let currentPage = 0;
    let currentPageShift = 0;
    const paginationDiv = document.querySelector(".list__pagination");
    const totalPagesDiv = document.querySelector(".list__total-pages");

    window.onresize = () => {
      filterAndPaginate();
    }

    const filterEncounterResults = () => {
      let resultCount = 0;
      document.querySelectorAll(".list-item").forEach((l) => {
        l.style.display = "block";
      });
      document.querySelectorAll(".list-item").forEach((l) => {
        if(l.innerHTML.indexOf("bio-techfar") != -1){
          if(l.innerHTML.toLowerCase().indexOf(encounterSearch.value.toLowerCase()) != -1 && encounterSearch.value != ""){
            l.style["display"] =  "block";
            resultCount++;
          }else if(encounterSearch.value != ""){
              l.style["display"] =  "none";
          }else{
              resultCount++;
              l.style["display"] =  "block";
          }
        }
      });
      const searchResults = document.getElementById("encounterSearchResults");
      if(resultCount === 0){
        searchResults.style.display = "block";
        paginationDiv.style.display = "none";
      }else{
        searchResults.style.display = "none";
        paginationDiv.style.display = window.innerWidth > 600 ? "flex" : "grid";
      }
    }

    

    const paginateResults = () => {
      let searchCount = 0;
      document.querySelectorAll(".list-item").forEach((sr) => {
        if(sr.style.display == "block"){
          searchCount++;
          if(searchCount > pageLimit+currentPage*pageLimit || searchCount < currentPage*pageLimit){
            sr.style.display = "none";
          }
        }
      });
      const realTotalPages = Math.ceil(searchCount/pageLimit);
      const totalPages = realTotalPages-currentPageShift*5 < 5 ? realTotalPages-currentPageShift*5 : 5;
      const pageButtons = ["<"];
      totalPagesDiv.innerHTML = "Current Page: "+(currentPage+1)+"/"+realTotalPages;
      for(let i = 0; i < totalPages; i++){
        pageButtons.push(i+1+5*currentPageShift);
      }
      pageButtons.push(">");
      
      const paginationPages = document.querySelector(".list__pages");
      paginationPages.innerHTML = "";
      pageButtons.forEach((b, i) => {
        const myDiv = document.createElement("div");
        myDiv.innerHTML = b;
        myDiv.className = "list__pages__page";
        myDiv.addEventListener("click", () => {
          if(parseInt(b) > 0) {
            currentPage = i - 1 + (5*currentPageShift);
          }else if(b == "<"){
            shiftPages(-1);
          }else{
            shiftPages(1);
          }
          filterAndPaginate();
        });
        if(i - 1 == currentPage && parseInt(b) > 0){
          myDiv.className += " selected-page";
        }
        paginationPages.append(myDiv);
      });
    }

    const shiftPages = (direction) => {
      currentPageShift += direction;
      const maxPageShift = Math.floor(parseInt(totalPagesDiv.innerHTML.split("/")[1])/5);
      if(currentPageShift < 0){
        currentPageShift = 0;
      }else if(currentPageShift > maxPageShift){
        currentPageShift = maxPageShift;
      }
      filterAndPaginate();
    }

    const filterAndPaginate = () => {
      filterEncounterResults();
      paginateResults();
    }

 

    window.onload = () => {
      window.onload();
      filterEncounterResults();
      paginateResults();
    }
    filterEncounterResults();
    paginateResults();
    const quantitySelector = document.getElementById("encounterPageQuantitySelector");
    quantitySelector.addEventListener("change", (e) => {
      pageLimit = parseInt(e.target.value);
      currentPage = 0;
      currentPageShift = 0;
      filterAndPaginate();
    });
    encounterSearch.addEventListener("keyup", () => {
      filterAndPaginate()
      currentPage = 0;
      currentPageShift = 0;
    });
  </script>
<% else %>
  <div class="list" id="encounter">
    <h4 style="padding: 20px">Sorry, but there are no encounters available.</h4>
  </div>
<% end %>