<div class="time-graph">
    <div class="time-graph__title"><%= title %></div>
    <div class="time-graph__bars">
        <% block_height = (300/months.sort { |x,y| y[:encounter_count] <=> x[:encounter_count] }.first[:encounter_count]).ceil %>
        <% months.each do |m| %>
            <div class="time-graph__bars__bar" style="height: <%=(m[:encounter_count]).floor*block_height%>px">
                <div class="time-graph__bars__bar__bubble">
                    <%= "#{m[:encounter_count]} encounter#{m[:encounter_count] > 1 ? 's' : ''} in #{Date::MONTHNAMES[m[:month]]}." %>
                    <div class="time-graph__bars__bar__bubble__carot"></div>
                </div>
            </div>
        <% end %>
    </div>
    <div class="time-graph__legend">
        <% months.each do |m| %>
            <div class="time-graph__legend__month">
                <%= Date::ABBR_MONTHNAMES[m[:month]] %>
            </div>
        <% end %>
    </div>
</div>