<div class="time-graph">
    <div class="time-graph__title"><%= title %></div>
    <div class="time-graph__bars">
        <%= months.each do |m|


        %>
    </div>
    <div class="time-graph__legend">

    </div>
</div>