<div class="content-card">
  <h1>Import Encounters Into The System By Uploading a CSV</h1>
  <hr>
  <p>A CSV is a file that can be exported from spreadsheet applications such as Google Sheets and Microsoft Excel. Encounters can be uploaded by community members to the system using this form. The form requires that the spreadsheet used to produce the CSV follows the following format. The spreadsheet must contain a header row with the following cells 'Common Name', 'Scientific Name', 'Location' and 'Observations'. The cells must be in this order. Each row following the header row corresponds to an encounter. Each of these rows must be formatted in the following manner.</p>
  <table>
    <thead> 
      <tr>
        <th colspan="2">Encounter Row Cell Formatting</th>
      </tr>
      <tr>
        <th>Cell</th>
        <th>Structure<th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Common Name</td>
        <td>Any string of chararacters. Example: Sugar Maple</td>
      </tr>
      <tr>
        <td>Scientific Name</td>
        <td>Any string of chararacters. Example: <i>Acer saccharum</i></td>
      </tr>
      <tr>
        <td>Location</td>
        <td>One of the following two formats
          <ul style="margin-top: 0px;">
            <li>State, County, City Month-Name Date Year Example: Utah, Utah Co., Orem September 18 2015</li>
            <li>State, County, City Month-Number/Date/Year Example: Utah, Utah Co., Orem 09/18/2015</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>Observations</td>
        <td>Any string of characters. Example: I found this tree at the Orem City Aboretum.</td>
      </tr>
    </tbody>
  </table>
  <%= form_tag("/encounter/csv/import_api", method: "post", :multipart => true) do %>
    <label for="file">CSV File Selector</label>
    <%= file_field_tag :file, style: "border: none;" %>
    <%= submit_tag "Upload", class: "green-button", style: "display: block; margin-top: 20px;" %>
  <% end %>
</div>
