<div class="content-card">
  <h1><%= current_user.email %>'s Encounters</h1>
  <%= render partial: "encounter/table", locals: {encounters: @encounters} %>
  <br />
  <%= back_button({ path: root_path}) %>
</div>
