<div class="content-card">
  <h1>Locations for <%= params[:state] %></h1>
  <%= render partial: "location/table", locals: {locations: @locations} %>
  <br />
  <%= link_to "Back", root_path, class: 'green-button' %>
</div>
