<div class="container">
  <h1>Playground</h1>
  <form>
    <label for="delivery_option" >Shipping Option</label>
    <select name="delivery_option">
      <optgroup label="Business">
        <option id="biz_ground">Ground</option>
        <option id="biz_over">Overnight</option>
      </optgroup>
      <optgroup label="Residential">
        <option id="res_ground">Ground</option>
        <option id="res_over">Overnight</option>
      </optgroup>
    </select>
    <hr />
    <label for="delivery">Delivery Preference</label>
    <br />
    <input type="radio" name="delivery" value="pickup" /> Pickup  <br />
    <input type="radio" name="delivery" value="shipping" /> Delivery <br />
  </form>
  <p>Ampersand: &amp;</p>
  <p>Copyright: &copy;</p>
  <p>Trademark: &reg;</p>
  <p>Spaces:     &nbsp;Hello World</p>
  <p>Greater Than: &gt;</p>
  <p>Less Than: &lt;</p>
  <p>Double Qoutes: &quot;</p>
  <p>Single Qoutes: &apos;</p>
  <button class="green-button">Green Button</button>
  <div class="car-maserati"></div>
  <div class="car-tesla"></div>
  <div class="car-porsche"></div>
</div>
