<div class="alert">
  <div class="alert__header">
    <div class="alert__title">Alert</div>
    <button class="alert__dismiss">x</button>
  </div>
  <div class="alert__content">
    <%= alert %>
    <%= notice %>
  </div>
</div>
