<footer>
  <div class="footer-section">
    <div>Usefull Links</div>
    <%= link_to "Admin", admin_path if signed_in? && current_user.role == "admin" %>
  </div>
  <div class="footer-section">
    <%= link_to "<span>Bio</span>Vision".html_safe, root_path, class: "footer-title" %>
  </div>
  <div class="footer-section">
    <div><span class="emphasis">< /></span> with <span class="emphasis">❤️</span> by <span class="emphasis">Miguel Rust</span> in <span class="emphasis">Utah.</span></div>
  </div>
</footer>
