<footer>
  <div class="footer-section">
    <div class="emphasis">Usefull Links</div>
    <a href="https://github.com/prettygoodstudios/BioEncounters">Github Repo</a>
    <%= link_to "Community CSV Upload", encounter_csv_upload_path %>
    <%= link_to "Admin", admin_path if signed_in? && current_user.role == "admin" %>
  </div>
  <div class="footer-section">
    <%= link_to "<span>Bio</span>Vision".html_safe, root_path, class: "footer-title" %>
  </div>
  <div class="footer-section">
    <div><span class="emphasis">< /></span> with <span class="emphasis"><i class="fas fa-heart"></i></span> by <span class="emphasis">Miguel Rust</span> in <span class="emphasis">Utah.</span></div>
  </div>
</footer>
