/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*Variables*/
$primary-color: #3FC380;
$light-primary-color: #C8F7C5;
$light-color: white;
$dark-color: #6c6c6c;
/*Base HTML Styles*/
html, body{
  font-family: 'Helvetica Neue';
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  color: $dark-color;
}
input{
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #aaa;
}
.push{
  min-height: 90vh;
}
.container-wrapper{
  display: flex;
  justify-content: center;
}
.container{
  width: 800px;
}
h1, h2, h3, h4, h5{
  font-weight: normal;
  font-family: 'Trebuchet MS';
}
thead{
  border-bottom: 2px solid black;
  background-color: #F5F6ED;
}
th{
  font-weight: normal;
  font-style: italic;
  font-family: 'Trebuchet MS';
}
table{
  width: 100%;
}
tr:nth-child(2n){
  background-color: #F5F6ED;
}
a{
  color: $primary-color;
  text-decoration: none;
}
a:hover{
  color: $light-primary-color;
  text-decoration: underline;
}
/*Navigation Bar*/
nav{
  $primary-color: red !default;
  background-color: $primary-color;
  color: $light-color;
  display: flex;
  padding: 20px;
  justify-content: flex-start;
  font-weight: lighter;
  .menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-basis: 80vw;
    .menu-item{
      margin-left: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      a{
        color: $light-color;
        text-decoration: none;
        &:hover{
          color: $light-primary-color;
        }
      }
    }
    .menu-profile{
      position: relative;
      .menu-profile-header{
        align-self: center;
      }
      .menu-profile-items{
        display: none;
      }
      &:hover{
        .menu-profile-items{
          position: absolute;
          padding: 20px;
          border-radius: 20px;
          width: 100%;
          top: 70px;
          left: 0px;
          display: flex;
          flex-direction: column;
          background-color: $primary-color;
        }
      }
    }
  }
  .nav-title-group{
    flex-basis: 20vw;
    h1{
      display: flex;
      flex-direction: column;
      justify-content: center;
      a{
        color: $light-color;
        text-decoration: none;
        font-weight: normal;
        &:hover{
          color: $light-primary-color;
        }
      }
    }
    .toggle-wrapper{
      height: 100%;
      display: none;
      #toggle{
        display: flex;
        color: $primary-color;
        background-color: $light-color;
        border: none;
        padding: 10px;
      }
    }
  }
}
/*Footer*/
footer{
  $primary-color: red !default;
  background-color: $primary-color;
  margin-top: 20px;
  padding: 20px;
  color: $light-color;
}
/*Buttons*/
@mixin standard-button($background-color: blue, $color: white, $rounded: 'false', $font-size: 1.0em){
  background-color: $background-color;
  color: $color;
  border: none;
  justify-content: center;
  font-size: $font-size;
  padding: 10px;
  text-decoration: none;
  display: flex;
  max-width: 150px;
  @if $rounded == 'true'{
    border-radius: 50px;
  } @else if $rounded == 'false' {
    border-radius: 0px;
  }
  @content;
}
.green-button{
  $primary-color: green !default;
  @include standard-button($background-color: $primary-color, $color: $light-color, $rounded: 'true', $font-size: 1.4em){
      /*font-family: 'Courier New';*/
  }
  &:hover{
    @include standard-button($background-color: $light-primary-color, $color: $primary-color, $rounded: 'true', $font-size: 1.4em);
  }
}
/*Flexbox*/
/*
@mixin flex-config($justify-content: false, $flex: false, $flex-direction: false, $align-items: false) {
  display: flex;
  @if $justify-content != false {
    justify-content: $justify-content;
  }
  @if $flex != false {
    flex: $flex;
  }
  @if $flex-direction != false {
    flex-direction: $flex-direction;
  }
  @if $align-items != false {
    align-items: $align-items;
  }

}
*/
/*Lists*/

$cars: 'maserati', 'tesla', 'porsche';
@each $car-name in $cars {
  .car-#{$car-name} {
    background-image: url('https://s3.amazonaws.com/bottega-devcamp/scss/cars/#{$car-name}.jpg');
    background-repeat: no-repeat;
    height: 300px;
  }
}
/*Content Card*/
.content-card{
  box-shadow: #aaa 0px 0px 10px 1px;
  padding: 20px;
  border-radius: 5px;
}
/*Media Queries*/
@media only screen and (max-width: 500px){
  .container{
    width: 90vw;
  }
  nav{
    display: flex;
    flex-direction: column;
    .nav-title-group{
      flex-basis: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      h1{
        flex-basis: 80vw;
      }
      .toggle-wrapper{
        flex-basis: 20vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        #toggle{
          display: flex;
          align-self: flex-end;
          flex-direction: column;
          justify-content: center;
        }
      }
    }
    .menu{
      display: none;
      flex-basis: auto;
      flex-direction: column;
      .menu-item{
        margin-left: 0px;
        margin-top: 20px;
      }
      .menu-profile{
        .menu-profile-header{
          align-self: flex-start;
        }
        .menu-profile-items{
          display: none;
        }
        &:hover{
          .menu-profile-items{
            display: flex;
            position: relative;
            top: 0px;
            left: 0px;
            padding-left: 0px;
          }
        }
      }
    }
  }
}
