@import "variables";
/*Base HTML Styles*/
html, body{
  font-family: 'Helvetica Neue';
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  color: $dark-color;
}
input{
  padding: 10px;
  font-size: 1.1em;
  border: none;
  border-bottom: 2px solid $dark-color;
  &:focus{
    border-bottom: 2px solid $primary-color;
    outline: none;
  }
}
.push{
  min-height: 90vh;
}
.container-wrapper{
  margin-top: 120px;
  display: flex;
  justify-content: center;
}
.container{
  width: $container-width;
}
h1, h2, h3, h4, h5{
  font-weight: normal;
  /*font-family: 'Trebuchet MS';*/
}
thead{
  border-bottom: 2px solid black;
  background-color: $dark-white-color;
}
th{
  font-weight: normal;
  font-style: italic;
  font-family: 'Trebuchet MS';
}
table{
  width: 100%;
}
tr:nth-child(2n){
  background-color: $dark-white-color;
}
a{
  color: $primary-color;
  text-decoration: none;
}
a:hover{
  color: $light-primary-color;
  text-decoration: underline;
  &:hover{
    cursor: pointer;
  }
}
a{
  img{
    height: 20px;
  }
}
