@import "variables";
nav{
  $primary-color: red !default;
  background-color: $primary-color;
  color: $light-color;
  display: flex;
  position: fixed;
  width: 100vw;
  padding: 10px;
  justify-content: flex-start;
  font-weight: bold;
  height: 75px;
  top: 0;
  z-index: 999;
  box-shadow: 4px 1px 10px 1px rgba(0,0,0,0.3);
  .menu{
    &__show{
      display: flex;
      transform: translate(0,0);
      transition: transform $toggle-animation-duration;
    }
    &__hide{
      display: flex;
      transform: translate(-100%,0);
      transition: transform $toggle-animation-duration;
    }
    position: fixed;
    left: -20px;
    top: 95px;
    z-index: 999;
    flex-direction: column;
    justify-content: flex-start;
    width: 400px;
    background-color: $light-color;
    height: 100vh;
    box-shadow: 4px 10px 10px 1px rgba(0,0,0,0.3);
    .menu-item:nth-child(2n){
      /*background-color: $dark-white-color;*/
    }
    .menu-item{
      padding-left: 20px;
      padding-right: 20px;
      height: 100px;
      margin-left: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: $light-color;
      a{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        color: $dark-color;
        text-decoration: none;
        &:hover{
          /*color: $primary-color;*/
        }
      }
      &__float-left{
        justify-self: flex-start;
      }
      &:hover{
        background-color: $dark-white-color;
      }
    }
    .menu-profile{
      position: relative;
      .menu-profile-header{
        align-self: flex-start;
        color: $dark-color;
      }
      .menu-profile-items{
        display: none;
        a{
          width: 100%;
          &:hover{
            color: $primary-color;
          }
        }
      }
      @media only screen and (min-width: 499px){
        &:hover{
          .menu-profile-items{
            position: absolute;
            padding: 20px;
            top: 100px;
            left: 0px;
            display: flex;
            flex-direction: column;
            background-color: $light-color;
          }
        }
      }
    }
  }
  .nav-title-group{
    display: flex;
    h1{
      display: flex;
      flex-direction: column;
      justify-content: center;
      a{
        color: $light-color;
        text-decoration: none;
        font-weight: normal;
        &:hover{
          color: $light-primary-color;
        }
        span{
          font-weight: 800;
          font-size: 1.5em;
        }
        font-weight: 100;
      }
    }
    .toggle-wrapper{
      height: 75px;
      width: 75px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-left: 10px;
      .toggle{
        position: relative;
        border: none;
        padding: 0px;
        width: 50px;
        height: 50px;
        &__open{
          background: none !important;
          .toggle-one{
            position: absolute;
            background-color: $light-color;
            top: 0px;
            width: 50px;
            height: 5px;
            border-radius: 3px;
            transform: rotate(0deg);
            transition-duration: $toggle-animation-duration;
            transition-property: top, transform;
          }
          .toggle-two{
            position: absolute;
            background-color: $light-color;
            top: 22px;
            width: 50px;
            display: block;
            height: 5px;
            border-radius: 3px;
            transition-duration: $toggle-animation-duration;
            transition-property: display;
          }
          .toggle-three{
            position: absolute;
            background-color: $light-color;
            top: 45px;
            width: 50px;
            height: 5px;
            border-radius: 3px;
            transform: rotate(0deg);
            transition-duration: $toggle-animation-duration;
            transition-property: top, transform;
          }
          &:hover{
            .toggle-one{
              color: $light-primary-color;
            }
            .toggle-two{
              color: $light-primary-color;
            }
            .toggle-three{
              color: $light-primary-color;
            }
          }
        }
        &:focus{
          outline: none;
        }
        &__closed{
          background: none !important;
          .toggle-one{
            position: absolute;
            background-color: $light-color;
            top: 22px;
            width: 50px;
            height: 5px;
            border-radius: 3px;
            transform: rotate(45deg);
            transition-duration: $toggle-animation-duration;
            transition-property: top, transform;
          }
          .toggle-two{
            display: none;
            transition-duration: $toggle-animation-duration;
            transition-property: display;
          }
          .toggle-three{
            position: absolute;
            background-color: $light-color;
            top: 22px;
            width: 50px;
            height: 5px;
            border-radius: 3px;
            transform: rotate(-45deg);
            transition-duration: $toggle-animation-duration;
            transition-property: top, transform;
          }
          &:hover{
            .toggle-one{
              color: $light-primary-color;
            }
            .toggle-two{
              color: $light-primary-color;
            }
            .toggle-three{
              color: $light-primary-color;
            }
          }
        }
        &:focus{
          outline: 0;
        }
      }
    }
  }
}
